/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/*  upload image  */
.avatar-preview {
    height: 120px;
    width: 117px;
}
#tiny{
    height: 1000px;
}

@media only screen and (max-width: 600px) {

    #support-info {
        font-size: 9px;
    }

    #tiny{
        height: 100%;
    }
}

